# Build directory (CMake)
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
Testing/
DartConfiguration.tcl

# Compiled object files
*.o
*.obj

# Static and shared libraries
*.a
*.so
*.so.*
*.dll
*.dylib
*.lib
*.la
*.lo

# Executables
*.out
*.elf
*.exe
*.app

# Debug & intermediate files
*.d
*.dSYM/
*.su
*.idb
*.p*
